body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #5332cb;
    color: rgb(90, 216, 162);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

section {
    margin: 40px auto;
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.message {
    color: green;
    font-weight: bold;
}
