{# --------------------------------------------- #}
{# This template shows the registration form #}
{# Users can create a new account with this page #}
{# --------------------------------------------- #}

{% extends 'base.html' %}
{# Inherit everything from base.html (header, footer, CSS, JS) #}

{% block title %}Register{% endblock %}
{# Sets the page title in the browser tab #}

{% block content %}
<h2>Register</h2>

{# ------------------------ #}
{# Start of the form #}
{# method="POST" means the form data will be sent securely to the server #}
<form method="POST">
    
    {# CSRF token (hidden field) to protect against form hacking #}
    {{ form.hidden_tag() }}

    {# ------------------------ #}
    {# Username input #}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=30) }}
    </p>

    {# Password input #}
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=30) }}
    </p>

    {# Confirm password input #}
    <p>
        {{ form.confirm.label }}<br>
        {{ form.confirm(size=30) }}
    </p>

    {# Gender radio buttons #}
    <p>
        {{ form.gender.label }}<br>
        {% for subfield in form.gender %}
            <label class="option-label">
                {{ subfield() }} {{ subfield.label.text }}
            </label>
        {% endfor %}
    </p>

    {# Birthday input (date picker) #}
    <p>
        {{ form.birthday.label }}<br>
        {{ form.birthday() }}
    </p>

    {# Address input #}
    <p>
        {{ form.address.label }}<br>
        {{ form.address(size=40) }}
    </p>

    {# Description textarea #}
    <p>
        {{ form.description.label }}<br>
        {{ form.description(rows=3, cols=40) }}
    </p>

    {# Hobbies checkboxes #}
    <p>
        {{ form.hobbies.label }}<br>
        {% for hobby in form.hobbies %}
            <label class="option-label">
                {{ hobby() }} {{ hobby.label.text }}
            </label>
        {% endfor %}
    </p>

    {# Submit button #}
    <p>{{ form.submit() }}</p>
</form>

{# ------------------------ #}
{# Display any general error message passed from Flask #}
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{# Display field-specific validation errors #}
{% for field, errors in form.errors.items() %}
    <p class="error">{{ field }}: {{ errors[0] }}</p>
{% endfor %}

{% endblock %}
